<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.6.2.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script>
    videoId = "{{ video_id }}";
    results = {{ results|tojson }};
    console.log(results);
    words = results[0];
    locs = results[1];
    word_locs = results[2];
    seg_locs = results[3];
    emotions = results[4];
  </script>
  <script src="../static/youtube.js"></script>
  <script src="../static/chart.js"></script>
  <script src="../static/video_bar.js"></script>
  <head>
    <title>Video Analyzer</title>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

  </head>
  <body>

  <style>
  body{
    background-image: url("https://theamazingworldofpsychiatry.files.wordpress.com/2010/09/istock_000009307982large.jpg")
  }
  h1{
    font-size:6em;
    font-family: "Brush Script MT", cursive;

  }
  </style>



    <div class="container">

      <h1 class="text-center">Vibez</h1>
      <form action="analyze" method="post" role="form" enctype="multipart/form-data">

        {{ form.csrf }}
        <div class="form-group">
          <label for="url">Youtube URL:</label>
          <input type="text" class="form-control" id="url" name="url" placeholder="Enter the Youtube URL">
        </div>

        <div class="form-group">
          <label for "file">2. Upload the corresponding audio file: </label>
          <input type="file" name="file">
        </div>
        <button type="submit" class="btn btn-success">Analyze!</button>
      </form>
      <br>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

      {% for message in messages %}
      {% if "Error" not in message[1]: %}
      <div class="alert alert-info">
        <strong>Success! </strong> {{ message[1] }}
      </div>
      {% endif %}

      {% if "Error" in message[1]: %}
      <div class="alert alert-warning">
        {{ message[1] }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div id="player" style = "position:relative;left:17%" width=800px></div>
      <canvas id="myCanvas" width="600" height="20" style="border:1px solid #d3d3d3;position:relative;left:16%">
                          Your browser does not support the HTML5 canvas tag.</canvas>
      <div id="player"></div>


      <!-- <div class="form-group">
        <label for="seekTo">Seek Moment :</label>
      <div class="form-group">
        <label for="search">Search in this clip:</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Type a word or phrase..." onkeydown="if (event.keyCode == 13) search()">

      </div>
      <button class="btn btn-success" onclick="search()">Search!</button>

      <div class="form-group">
        <label for="seekTo">Seek to:</label>
        <input type="text" class="form-control" id="seekTo" name="seekTo" placeholder="Seek how many seconds into the video?" onkeydown="if (event.keyCode == 13) seek()">
      </div> -->
      <!-- <button class="btn btn-success" onclick="seek()">Seek!</button> -->
    </div>
    <br>      
  </div>
  <div id="container" style="min-width: 310px; height: 200px; max-width: 800px; margin: 0 auto">
</div>


</body>
</html>
