<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <font color = "white"><title>Vibez </title></font>
    <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  </head>
  <body>
  <style>
  body{
    background-image: url("https://i.ytimg.com/vi/Z6eG4pemWs4/maxresdefault.jpg");
  }
  h1{
    font-size:9em;
    font-family: "Brush Script MT", cursive;
    color: white;

  }
  </style>

      <div class="container">

        <div style="top: 23%; left: 23%; right: 23%; bottom: 23%; position: absolute;">

        <h1 class="text-center"> Vibez </h1>
        <br>

      <form action="analyze" method="post" role="form" enctype="multipart/form-data">
        {{ form.csrf }}
        <div class="form-group">
          <h4><label for="url"><font color = "white">1. Pick a YouTube video: </font></label></h4>
          <input type="text" class="form-control" id="url" name="url" placeholder="Enter the Youtube URL">
        </div>
        <div class="form-group">

          <h4><label for "file"><font color = "white">2. Upload the corresponding audio file: </font></label></h4>
         
          <input type="file" name="file">
        </div>
        <div style="text-align: center;">
        <button type="submit" class="btn btn-info btn-lg"><font size = "3">Analyze!</font></button>
      </form>
      <br>
      <br>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}

        {% for message in messages %}
        {% if "Error" not in message[1]: %}
        <div class="alert alert-info">
          <strong>Success! </strong> {{ message[1] }}
        </div>
        {% endif %}

        {% if "Error" in message[1]: %}
        <div class="alert alert-warning">
          {{ message[1] }}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

      </div>
      <br>      
    </div>
  </div>
    </div>

</body>
</html>
